<link rel="stylesheet" href="../../assets/stylesheets/marketing.css" type="text/css" media="screen" title="no title" charset="utf-8">

<!-- Desktop & Tablet Splash -->
<div class="pure-g pure-hidden-phone splash-container">
	<div class="pure-u-1">
		<section>
			<div class="one-hundred-center">
				<ul class="rslides">
					<div>  
						<li><%= image_tag('sliderpictures/Downstream.jpg') %></li>
						<div class="tag downstream">
							Explore.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/MountainCast.jpg') %></li>
						<div class="tag mountain-cast">
							Reach for new heights.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/PackRest.jpg') %></li>
						<div class="tag pack-rest">
							Experience the thrills.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/AtTheBelay.jpg') %></li>
						<div class="tag at-belay">
							Smile a little more.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/Trekking.jpg') %></li>
						<div class="tag trekking">
							Expand your world.</div>
					</div>
				</ul>
			</div>
		</section>
	</div>
</div>

<div class="pure-g pure-hidden-tablet pure-hidden-desktop splash-container">
	<div class="pure-u-1">
		<section>
			<div class="one-hundred-center-phone">
				<ul class="rslides">
					<div>  
						<li><%= image_tag('sliderpictures/PhoneDownstream.jpg') %></li>
						<div class="tag-phone words">
							Explore.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/PhoneMountainCast.jpg') %></li>
						<div class="tag-phone words">
							Reach for new heights.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/PhonePackRest.jpg') %></li>
						<div class="tag-phone words">
							Experience the thrills.</div>
					</div>
					 <div>
						<li><%= image_tag('sliderpictures/PhoneAtTheBelay.jpg') %></li>
						<div class="tag-phone words">
							Smile a little more.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/PhoneTrekking.jpg') %></li>
						<div class="tag-phone words">
							Expand your world.</div>
					</div>
				</ul>
			</div>
		</section>
	</div>
</div>


<!-- Phone Splash -->
<!-- <div class="pure-g pure-hidden-tablet pure-hidden-dekstop">
	<div class="pure-u-1">
		<section>
			<div class="one-hundred-center-phone">
				<ul class="rslides">
					<div>  
						<li><%= image_tag('sliderpictures/DownstreamSanJuansCrop3000_original.jpg') %></li>
						<div class="tag-phone words">
							Explore.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/SteveCastingLeadvilleCrop3000_original.jpg') %></li>
						<div class="tag-phone words">
							Reach for new heights.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/PackSequoiaCrop3000_original.jpg') %></li>
						<div class="tag-phone words">
							Experience the thrills.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/KatiePCrop3000_original.jpg') %></li>
						<div class="tag-phone words">
							Smile a little more.</div>
					</div>
					<div>
						<li><%= image_tag('sliderpictures/WindRiveWalkCrop3000_original.jpg') %></li>
						<div class="tag-phone words">
							Expand your world.</div>
					</div>
				</ul>
			</div>
		</section>
	</div>
</div> -->

<div class="content-wrapper">
		<div class="content">
			<a name="how"></a>
				<h2 class="content-head is-center">Connecting You with Outdoor Guides</h2>

				<div class="pure-g-r grid-centered-max-width">
					<div class="pure-u-1-3">
						<div class="description">
								<h3>Step 1 <i class="fa fa-pencil"></i></h3>
							<span class="description-med">Companies and guides from around the world post their outdoor trips.</span>
						 </div>
					</div>

					<div class="pure-u-1-3">
						<div class="description">
								<h3>Step 2 <i class="fa fa-check-square-o"></i></h3>
								<span class="description-med">You customize your trip.</span>
						</div>
					</div>

					<div class="pure-u-1-3">
						<div class="description">
								<h3>Step 3 <i class="fa fa-refresh"></i></h3>
								<span class="description-med">You go exploring &amp; reconnect with adventure.</span>
						</div>
					</div>
			</div>
		</div>


<!--

		<section id="offerings" class="content">
				<div class="pure-g-r">
			<div class="pure-u-1-5 pure-hidden-phone">
				&nbsp;
			</div>
			<div class="pure-u-1-5 pure-hidden-phone">
				<div class="offering-pic">
					<%= image_tag('teaser_pics/jim_ak.jpg') %>
				</div>
			</div>
			<div class="pure-u-2-5">
				<div class="offering-description">
					<h3>Hiking and Backpacking</h3>
						
				</div>
			</div>
		</div>
				<div class="pure-g-r">
			<div class="pure-u-1-5 pure-hidden-phone">
				&nbsp;
			</div>
			<div class="pure-u-1-5 pure-hidden-phone">
				<div class="offering-pic">
					<%= image_tag('teaser_pics/at_wallstreet.jpg') %>
				</div>
			</div>
			<div class="pure-u-2-5">
				<div class="offering-description">
					<h3>Rock Climbing</h3>
				</div>
			</div>
		</div>
				<div class="pure-g-r">
			<div class="pure-u-1-5 pure-hidden-phone">
				&nbsp;
			</div>
			<div class="pure-u-1-5 pure-hidden-phone">
				<div class="offering-pic">
					<%= image_tag('teaser_pics/dengler_lake_fork.jpg') %>
				</div>
			</div>
			<div class="pure-u-2-5">
				<div class="offering-description">
					<h3>Fly Fishing</h3>
				</div>
			</div>
		</div>
		</section>

-->

		<div class="ribbon l-box-lrg pure-g-r">
			<div class="pure-u-1-5">
				&nbsp;
			</div>
			<div class="pure-u-3-5">
				<h2 class="content-head content-head-ribbon is-center">High Quality, Safe Experiences.</h2>
				<p>
					<!-- We know coming home safely after having a quality experience is your top priority. That’s why we only partner with high quality guides who have a proven track record of delivering safe, custom experiences that keep their clients coming back for more. -->
					Safe and exceptional experiences go hand in hand. We know that returning home in one piece is your top priority, which is why we only partner with high quality guides with a proven track record of delivering safe, custom experiences. Our guides have logged hundreds of incident-free days and are trained in wilderness-based first aid and emergency response.
				</p>
			</div>
			<div class="pure-u-1-5">
				&nbsp;
			</div>
		</div>


		<div class="pure-g-r">
			<div class="pure-u-1-5">
				&nbsp;
			</div>
			<div class="pure-u-3-5">
				<div class="coming-soon">
					<h1 class="is-center">site launching soon</h1>
				</div>
			</div>
			<div class="pure-u-1-5">
				&nbsp;
			</div>
		</div>

		<section id="mailchimp-signup-form" class="content just-above-footer"><a name="newsletter"></a>

			<h2 class="content-head is-center">
				Want to hear about deals and updates?</h2>

			<h3 class="is-center">
				Sign up for our newsletter here</h3>

			<form class="pure-form" action="http://coelevation.us3.list-manage.com/subscribe/post?u=0f5569aca8068addfaddac81e&amp;id=b68977d253" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
				<div class="pure-g-r">  <!-- is-center -->
					<div class ="pure-u-1-3">
						&nbsp;
					</div>
					<fieldset class="pure-group pure-u-1-3">
						<div  id="mc_embed_signup"><!-- class="pure-u-1" -->
							<input class="pure-input-1-3 is-center" type="email" value="" name="EMAIL" sid="mce-EMAIL" placeholder="Your email">

							<div class="mc-radio-div-manhandle">
								<label for="mce-emailtype-0">
									<input type="radio" value="html" name="emailtype" id="mce-emailtype-0" checked="checked">
									html
								</label>
								<label for="mce-emailtype-1">
									<input type="radio" value="text" name="emailtype" id="mce-emailtype-1">
									text
								</label>
							</div>

							<!-- Begin Bot Signup Deflection. Do Not Remove or Bots May Sign Up. -->
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							<!-- End -->

							<!-- Mailchimp identifier -->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_0f5569aca8068addfaddac81e_b68977d253" value=""></div>

							<div class="clear"><input class="pure-button pure-button-primary mc-button-div-manhandle" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"></div>
						</div>
					</fieldset>
				</div>
			</form>
		</section>

<!--End mc_embed_signup-->