<% provide(:title, "Customize your trip") %>

<section class="scaffold">

	<h1>Customize your <%= @trip.activity.title.downcase %> trip (aka New order_item)</h1>

	<%= form_for @order_item do |f| %>
		<div class="field">
			<%= f.hidden_field :company_id, :value => @trip.company_id %>
			<%= f.hidden_field :trip_id, :value => @trip.id %>
			<%= f.hidden_field :buyer_id, :value => current_user.id %>
			<%= f.hidden_field :first_person_cost, :value => @trip.first_person_cost %>
			<%= f.hidden_field :second_person_cost, :value => @trip.second_person_cost %>
		</div>

		<div class="row">
			<% if @trip_dates.count > 0 %>
				<%= f.collection_select :trip_date_id, @trip_dates, :id, :start_date, :prompt => "Select a Date" %>
			<% else %>
				There are no remaining date options for this trip.
			<% end %>
		</div>
		<div class="row">
			<%= f.label :number_of_people, '# of People Total' %><br>
			<%= f.number_field :number_of_people %>
		</div>

		<div class="row actions">
			<%= f.submit 'Add custom trip to cart', :class => "pure-button" %>
			<p>or <%= link_to 'cancel', trip_path(@trip) %></p>
		</div>
	<% end %>

</section>